{% extends 'home.html' %}
{% load staticfiles %}
{% load i18n %}

{% block apps %}


    <div class="container " style="width:873px">
      <div class="row">




          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">PROFILE</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ page_user.userprofile.get_picture }}" class="img-circle img-responsive"> </div>

                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>{{ page_user.first_name }} {{ page_user.last_name }}</td>
                      </tr>
                      <tr>
                        <td>Year:</td>
                        <td>{{ page_user.userprofile.year }}</td>
                      </tr>
                      <tr>
                        <td>Department:</td>
                        <td>{{ page_user.userprofile.branch }}</td>
                      </tr>

                      <tr>
                        <td>Date of Birth:</td>
                        <td>01/24/1988</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Gender:</td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Bio:</td>
                        <td>{{ page_user.userprofile.bio }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{ page_user.email }}</td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td>{{ page_user.userprofile.phone }}
                        </td>

                      </tr>

                    </tbody>
                  </table>


                </div>
              </div>
            </div>


          </div>

      </div>
    </div>
{% endblock %}
